<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script src="https://cdn.userway.org/widget.js" data-account="Qd6zudTeks"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- liquid
      assign main_font = settings.type_main_font
      assign main_font_bold = main_font | font_modify: 'weight', 'bold'
      assign heading_font = settings.type_heading_font
    -%}

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: '32x32' }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {%- render 'meta-tags' -%}

    {% comment %}
      This script tag contains options for es-modules-shim, which is loaded
      automatically by Shopify.
    {% endcomment %}
    <script type="esms-options">
      {
        "noLoadEventRetriggers": true
      }
    </script>

    <script type="importmap">
      {
        "imports": {
          "vendor": "{{ 'vendor.bundle.min.js' | asset_url }}",
          "data-island": "{{ 'data-island.bundle.js' | asset_url }}",
          "product": "{{ 'island-product.bundle.js' | asset_url }}",
          "product-model": "{{ 'island-product-model.bundle.js' | asset_url }}"
        }
      }
    </script>

    {{ content_for_header }}

    {{ 'base.bundle.css' | asset_url | stylesheet_tag: preload: true }}

    {% render 'js-bridge' %}

    <script>
      document.documentElement.className =
        document.documentElement.className.replace('no-js', 'js');
    </script>

    <script>
      function debounce(fn, wait) {
        let t;
        return (...args) => {
          clearTimeout(t);
          t = setTimeout(() => fn.apply(this, args), wait);
        };
      }
    </script>

    <script src="{{ 'jquery-3.7.1.min.js' | asset_url }}" defer></script>
    <script src="{{ 'slick.min.js' | asset_url }}" defer></script>
    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>


    {% if request.design_mode %}
      <script src="{{ 'shapes-animations.js' | asset_url }}" defer></script>
      <script
        src="{{ 'theme-editor-support.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}

    {% if template contains 'customers' %}
      {% comment %}theme-check-disable ParserBlockingScript{% endcomment %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {% comment %}theme-check-enable ParserBlockingScript{% endcomment %}
    {% endif %}

    <script>
      window.themeEventsDebugMode = false;
    </script>
    <script src="{{ 'theme-events.js' | asset_url }}" async defer></script>

    <style>
      :root {
        --max-site-width: 1820px;
      }
    </style>

    {% style %}
      {{ main_font | font_face: font_display: 'swap' }}
      {{ heading_font | font_face: font_display: 'swap' }}

      {%- liquid
        assign main_font_bolder = main_font | font_modify: 'weight', 'bolder'
        assign main_font_italic = main_font | font_modify: 'style', 'italic'
        assign main_font_bold_italic = main_font_bold | font_modify: 'style', 'italic'

        if main_font_bold
          echo main_font_bold | font_face: font_display: 'swap'
        endif
        if main_font_italic
          echo main_font_italic | font_face: font_display: 'swap'
        endif
        if main_font_bold_italic
          echo main_font_bold_italic | font_face: font_display: 'swap'
        endif
        if main_font_bolder
          echo main_font_bolder | font_face: font_display: 'swap'
        endif
      -%}

      {% if settings.heading_uppercase -%}
        {%- capture heading_capitalize -%}uppercase{%- endcapture -%}
      {% else -%}
        {%- capture heading_capitalize -%}none{%- endcapture -%}
      {% endif -%}
      {%- capture heading_letterspacing -%}{{ settings.heading_letterspacing | divided_by: 1000.0 }}{% unless settings.heading_letterspacing == 0 -%}em{% endunless -%}{%- endcapture -%}

      :root {
        --heading-font-stack: {{ heading_font.family }}, {{ heading_font.fallback_families }};
        --heading-font-weight: {{ heading_font.weight }};
        --heading-font-style: {{ heading_font.style }};
        --heading-letterspacing: {{ heading_letterspacing }};
        --heading-capitalize: {{ heading_capitalize }};
        --main-font-stack: {{ main_font.family }}, {{ main_font.fallback_families }};
        --main-font-weight: {{ main_font.weight }};
        --main-font-style: {{ main_font.style }};
      }
    {% endstyle %}

    {%- liquid
      render 'css-bridge'
      render 'critical-css'
    -%}

    <style id="manual-critical-css">
      [x-cloak] {
        display: none;
      }

      data-island {
        display: block;
      }

      [data-parallax-container] {
        will-change: opacity;
        opacity: 0;
        transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      .no-js [data-parallax-container],
      [data-parallax-container].animated {
        opacity: 1;
      }

      @media (prefers-reduced-motion) {
        [data-parallax-container] {
          opacity: 1;
        }
      }
    </style>

    {% # theme-check-disable AssetPreload %}
    {% unless heading_font.system? %}
      <link
        rel="preload"
        as="font"
        href="{{ heading_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {% endunless %}
    {% unless main_font.system? %}
      <link
        rel="preload"
        as="font"
        href="{{ main_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {% endunless %}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {{ 'slick-theme.css' | asset_url | stylesheet_tag }}

    {% # theme-check-enable AssetPreload %}
    {{ 'custom.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  {% include 'pagefly-app-header' %}




  {% comment %} Netterm Button CSS {% endcomment %}
<style>

.net_address_fields .new_back_link {
display: flex !important;
}
.net_address_fields input[type=text], input[type=email], input[type=tel], input[type=password], .input, select {
box-shadow: inset 0 0 0 var(--input-border-width) rgb(245 245 245);
}
</style>

  {% comment %} Netterm Button CSS end {% endcomment %}

</head>

  <body data-color-scheme="scheme1" {% if template == "product.updated-pdp" %}class="updated-pdp"{% endif %}>
    {%- if settings.show_on_sale_badge -%}
      {%- render 'static-sticker-defs', shape: settings.on_sale_badge_shape, id: 'on-sale' -%}
    {%- endif -%}
    {%- if settings.show_sold_out_badge -%}
      {%- render 'static-sticker-defs', shape: settings.sold_out_badge_shape, id: 'sold-out' -%}
    {%- endif -%}
    {%- render 'static-sticker-defs', shape: settings.metafield_badge_shape, id: 'metafield-badge' -%}

    <a class="skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>
    {%- sections 'header-group' -%}
    {% render 'header-group-support' %}
    <main id="MainContent" class="overflow-hidden">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}
    {%- sections 'overlay-group' -%}

    <div
      id="screenreader-announce"
      class="sr-only"
      aria-live="polite"
      role="status"
    ></div>

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {{ 'general.accessibility.refresh_page' | t }}
      </li>
      <li id="a11y-selection-message">
        {{ 'general.accessibility.selection_help' | t }}
      </li>
    </ul>

    {% comment %} Modal containers {% endcomment %}
    {% liquid
      render 'left-drawer'
      render 'right-drawer'
      render 'modal'
      render 'popup'
    %}

    {%- if settings.cart_type == 'modal' -%}
      {% render 'drawer-cart' %}
    {%- endif -%}

    <script src="{{ 'global.bundle.js' | asset_url }}" type="module"></script>
  </body>
</html>
