{%- liquid
  assign section_title = section.settings.title
  assign section_subtitle = section.settings.subtitle
  assign collection_1 = section.settings.collection_1
  assign collection_1_label = section.settings.collection_1_label
  assign collection_2 = section.settings.collection_2
  assign collection_2_label = section.settings.collection_2_label
  assign products_to_show = section.settings.products_to_show
  assign show_shop_all = section.settings.show_shop_all
  assign shop_all_text = section.settings.shop_all_text
  assign shop_all_url = section.settings.shop_all_url
-%}

<section
  id="best-sellers-{{ section.id }}"
  class="best-sellers"
  x-data="{ activeTab: 'collection1' }"
>
  <!-- Top Curve Divider -->
  {%- if section.settings.show_top_curve -%}
    <div class="best-sellers__curve best-sellers__curve--top{% if section.settings.top_curve_animate %} best-sellers__curve--animated{% endif %}">
      <svg viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        {%- case section.settings.top_curve_style -%}
          {%- when 'wave' -%}
            <path d="M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z" fill="{{ section.settings.top_curve_color }}">
              {%- if section.settings.top_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z;
                    M0,120 L0,40 Q360,80 720,50 T1440,70 L1440,120 Z;
                    M0,120 L0,70 Q360,40 720,70 T1440,40 L1440,120 Z;
                    M0,120 L0,50 Q360,100 720,40 T1440,60 L1440,120 Z;
                    M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'wave-smooth' -%}
            <path d="M0,120 L0,80 Q720,20 1440,80 L1440,120 Z" fill="{{ section.settings.top_curve_color }}">
              {%- if section.settings.top_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,120 L0,80 Q720,20 1440,80 L1440,120 Z;
                    M0,120 L0,60 Q720,40 1440,70 L1440,120 Z;
                    M0,120 L0,70 Q720,60 1440,50 L1440,120 Z;
                    M0,120 L0,50 Q720,30 1440,60 L1440,120 Z;
                    M0,120 L0,80 Q720,20 1440,80 L1440,120 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'arc' -%}
            <path d="M0,120 L0,90 Q720,30 1440,90 L1440,120 Z" fill="{{ section.settings.top_curve_color }}">
              {%- if section.settings.top_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,120 L0,90 Q720,30 1440,90 L1440,120 Z;
                    M0,120 L0,70 Q720,50 1440,70 L1440,120 Z;
                    M0,120 L0,80 Q720,70 1440,60 L1440,120 Z;
                    M0,120 L0,60 Q720,40 1440,80 L1440,120 Z;
                    M0,120 L0,90 Q720,30 1440,90 L1440,120 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'slope-left' -%}
            <path d="M0,120 L0,0 L1440,60 L1440,120 Z" fill="{{ section.settings.top_curve_color }}"/>
          {%- when 'slope-right' -%}
            <path d="M0,120 L0,60 L1440,0 L1440,120 Z" fill="{{ section.settings.top_curve_color }}"/>
          {%- else -%}
            <path d="M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z" fill="{{ section.settings.top_curve_color }}">
              {%- if section.settings.top_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z;
                    M0,120 L0,40 Q360,80 720,50 T1440,70 L1440,120 Z;
                    M0,120 L0,70 Q360,40 720,70 T1440,40 L1440,120 Z;
                    M0,120 L0,50 Q360,100 720,40 T1440,60 L1440,120 Z;
                    M0,120 L0,60 Q360,120 720,60 T1440,60 L1440,120 Z"
                />
              {%- endif -%}
            </path>
        {%- endcase -%}
      </svg>
    </div>
  {%- endif -%}

  <div class="best-sellers__container">
    <!-- Header -->
    <div class="best-sellers__header">
      <h2 class="best-sellers__title">{{ section_title }}</h2>
      
      {%- if section_subtitle != blank -%}
        <p class="best-sellers__subtitle">{{ section_subtitle }}</p>
      {%- endif -%}
      
      <!-- Tab Switcher -->
      {%- if collection_2 != blank -%}
        <div class="best-sellers__tabs">
          <button 
            class="best-sellers__tab"
            :class="{ 'best-sellers__tab--active': activeTab === 'collection1' }"
            @click="activeTab = 'collection1'"
          >
            {{ collection_1_label | default: collection_1.title | default: 'THC Seltzers' }}
          </button>
          <button 
            class="best-sellers__tab"
            :class="{ 'best-sellers__tab--active': activeTab === 'collection2' }"
            @click="activeTab = 'collection2'"
          >
            {{ collection_2_label | default: collection_2.title | default: 'Fungi Fusion' }}
          </button>
        </div>
      {%- endif -%}
    </div>

    <!-- Products Grid - Collection 1 -->
    <div 
      class="best-sellers__grid"
      x-show="activeTab === 'collection1'"
      x-transition:enter="transition ease-out duration-200"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
    >
      {%- if collection_1 != blank -%}
        {%- for product in collection_1.products limit: products_to_show -%}
          {% render 'best-sellers-product-card', product: product, index: forloop.index, section: section %}
        {%- endfor -%}
      {%- else -%}
        {%- for i in (1..4) -%}
          <div class="best-sellers__card best-sellers__card--placeholder">
            <div class="best-sellers__card-image">
              <div class="best-sellers__placeholder-image">
                <span>Product {{ i }}</span>
              </div>
            </div>
            <div class="best-sellers__card-content">
              <h3 class="best-sellers__product-title">Product Name</h3>
              <p class="best-sellers__product-desc">Product description here</p>
              <div class="best-sellers__card-footer">
                <div class="best-sellers__price-wrapper">
                  <span class="best-sellers__price-label">Starting at</span>
                  <span class="best-sellers__price">$18.99</span>
                </div>
              </div>
              <span class="best-sellers__shop-now">SHOP NOW</span>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>

    <!-- Products Grid - Collection 2 -->
    {%- if collection_2 != blank -%}
      <div 
        class="best-sellers__grid"
        x-show="activeTab === 'collection2'"
        x-cloak
        x-transition:enter="transition ease-out duration-200"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
      >
        {%- for product in collection_2.products limit: products_to_show -%}
          {% render 'best-sellers-product-card', product: product, index: forloop.index, section: section %}
        {%- endfor -%}
      </div>
    {%- endif -%}

    <!-- Shop All CTA -->
    {%- if show_shop_all -%}
      <div class="best-sellers__shop-all">
        <a 
          href="{{ shop_all_url | default: collection_1.url }}" 
          class="best-sellers__shop-all-btn"
          x-bind:href="activeTab === 'collection1' ? '{{ collection_1.url | default: shop_all_url }}' : '{{ collection_2.url | default: shop_all_url }}'"
        >
          {{ shop_all_text | default: 'Shop All' }}
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14M12 5l7 7-7 7"/>
          </svg>
        </a>
      </div>
    {%- endif -%}
  </div>

  <!-- Bottom Curve Divider -->
  {%- if section.settings.show_bottom_curve -%}
    <div class="best-sellers__curve best-sellers__curve--bottom{% if section.settings.bottom_curve_animate %} best-sellers__curve--animated{% endif %}">
      <svg viewBox="0 0 1440 120" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        {%- case section.settings.bottom_curve_style -%}
          {%- when 'wave' -%}
            <path d="M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}">
              {%- if section.settings.bottom_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z;
                    M0,0 L0,40 Q360,80 720,50 T1440,70 L1440,0 Z;
                    M0,0 L0,70 Q360,40 720,70 T1440,40 L1440,0 Z;
                    M0,0 L0,50 Q360,100 720,40 T1440,60 L1440,0 Z;
                    M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'wave-smooth' -%}
            <path d="M0,0 L0,80 Q720,20 1440,80 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}">
              {%- if section.settings.bottom_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,0 L0,80 Q720,20 1440,80 L1440,0 Z;
                    M0,0 L0,60 Q720,40 1440,70 L1440,0 Z;
                    M0,0 L0,70 Q720,60 1440,50 L1440,0 Z;
                    M0,0 L0,50 Q720,30 1440,60 L1440,0 Z;
                    M0,0 L0,80 Q720,20 1440,80 L1440,0 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'arc' -%}
            <path d="M0,0 L0,90 Q720,30 1440,90 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}">
              {%- if section.settings.bottom_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,0 L0,90 Q720,30 1440,90 L1440,0 Z;
                    M0,0 L0,70 Q720,50 1440,70 L1440,0 Z;
                    M0,0 L0,80 Q720,70 1440,60 L1440,0 Z;
                    M0,0 L0,60 Q720,40 1440,80 L1440,0 Z;
                    M0,0 L0,90 Q720,30 1440,90 L1440,0 Z"
                />
              {%- endif -%}
            </path>
          {%- when 'slope-left' -%}
            <path d="M0,0 L0,80 L1440,20 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}"/>
          {%- when 'slope-right' -%}
            <path d="M0,0 L0,20 L1440,80 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}"/>
          {%- else -%}
            <path d="M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z" fill="{{ section.settings.bottom_curve_color }}">
              {%- if section.settings.bottom_curve_animate -%}
                <animate 
                  attributeName="d" 
                  dur="{{ section.settings.curve_animation_speed }}s"
                  repeatCount="indefinite"
                  calcMode="spline"
                  keySplines="0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1; 0.4 0 0.6 1"
                  values="
                    M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z;
                    M0,0 L0,40 Q360,80 720,50 T1440,70 L1440,0 Z;
                    M0,0 L0,70 Q360,40 720,70 T1440,40 L1440,0 Z;
                    M0,0 L0,50 Q360,100 720,40 T1440,60 L1440,0 Z;
                    M0,0 L0,60 Q360,120 720,60 T1440,60 L1440,0 Z"
                />
              {%- endif -%}
            </path>
        {%- endcase -%}
      </svg>
    </div>
  {%- endif -%}
</section>

<style>
  #best-sellers-{{ section.id }} {
    --bs-bg: {{ section.settings.background_color }};
    --bs-title-color: {{ section.settings.title_color }};
    --bs-subtitle-color: {{ section.settings.subtitle_color }};
    --bs-card-bg: {{ section.settings.card_bg_color }};
    --bs-text-color: {{ section.settings.text_color }};
    --bs-price-color: {{ section.settings.price_color }};
    --bs-btn-bg: {{ section.settings.button_bg_color }};
    --bs-btn-text: {{ section.settings.button_text_color }};
    --bs-tab-active-bg: {{ section.settings.tab_active_bg }};
    --bs-tab-active-text: {{ section.settings.tab_active_text }};
    --bs-tab-inactive-bg: {{ section.settings.tab_inactive_bg }};
    --bs-tab-inactive-text: {{ section.settings.tab_inactive_text }};
    --bs-badge-bg: {{ section.settings.badge_bg_color }};
    --bs-badge-text: {{ section.settings.badge_text_color }};
    --bs-accent-color: {{ section.settings.accent_color }};
  }

  #best-sellers-{{ section.id }}.best-sellers {
    background: var(--bs-bg);
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    position: relative;
  }

  @media (max-width: 768px) {
    #best-sellers-{{ section.id }}.best-sellers {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }

  /* Curve Dividers */
  #best-sellers-{{ section.id }} .best-sellers__curve {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    line-height: 0;
    pointer-events: none;
    z-index: 1;
  }

  #best-sellers-{{ section.id }} .best-sellers__curve svg {
    display: block;
    width: 100%;
    height: {{ section.settings.curve_height }}px;
  }

  #best-sellers-{{ section.id }} .best-sellers__curve--top {
    top: 0;
    transform: translateY(-99%);
  }

  #best-sellers-{{ section.id }} .best-sellers__curve--bottom {
    bottom: 0;
    transform: translateY(99%);
  }

  @media (max-width: 768px) {
    #best-sellers-{{ section.id }} .best-sellers__curve svg {
      height: {{ section.settings.curve_height | times: 65 | divided_by: 100 }}px;
    }
  }

  #best-sellers-{{ section.id }} .best-sellers__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
  }

  /* Header */
  #best-sellers-{{ section.id }} .best-sellers__header {
    text-align: center;
    margin-bottom: 48px;
  }

  #best-sellers-{{ section.id }} .best-sellers__title {
    font-size: clamp(32px, 4vw, 48px);
    font-weight: 800;
    color: var(--bs-title-color);
    margin: 0 0 12px;
    letter-spacing: -0.5px;
  }

  #best-sellers-{{ section.id }} .best-sellers__subtitle {
    font-size: 17px;
    color: var(--bs-subtitle-color);
    max-width: 500px;
    margin: 0 auto 32px;
    line-height: 1.6;
  }

  /* Tabs */
  #best-sellers-{{ section.id }} .best-sellers__tabs {
    display: inline-flex;
    background: var(--bs-tab-inactive-bg);
    border-radius: 999px;
    padding: 5px;
    gap: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  }

  #best-sellers-{{ section.id }} .best-sellers__tab {
    padding: 14px 32px;
    border: none;
    background: transparent;
    border-radius: 999px;
    font-size: 15px;
    font-weight: 600;
    color: var(--bs-tab-inactive-text);
    cursor: pointer;
    transition: all 0.25s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__tab--active {
    background: var(--bs-tab-active-bg);
    color: var(--bs-tab-active-text);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  #best-sellers-{{ section.id }} .best-sellers__tab:hover:not(.best-sellers__tab--active) {
    background: rgba(0, 0, 0, 0.08);
    color: var(--bs-text-color);
  }

  /* Products Grid */
  #best-sellers-{{ section.id }} .best-sellers__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
    margin-bottom: 48px;
  }

  /* Product Card */
  #best-sellers-{{ section.id }} .best-sellers__card {
    background: var(--bs-card-bg);
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.1);
  }

  #best-sellers-{{ section.id }} .best-sellers__card-image {
    position: relative;
    aspect-ratio: 1;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  #best-sellers-{{ section.id }} .best-sellers__card-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__card:hover .best-sellers__card-image img {
    transform: scale(1.05);
  }

  #best-sellers-{{ section.id }} .best-sellers__badge {
    position: absolute;
    top: 12px;
    left: 12px;
    padding: 6px 12px;
    background: var(--bs-badge-bg);
    color: var(--bs-badge-text);
    border-radius: 999px;
    font-size: 11px;
    font-weight: 600;
    text-transform: capitalize;
  }

  #best-sellers-{{ section.id }} .best-sellers__placeholder-image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8EBE0;
    border-radius: 12px;
    color: #6B725C;
    font-weight: 500;
  }

  #best-sellers-{{ section.id }} .best-sellers__card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  #best-sellers-{{ section.id }} .best-sellers__product-link {
    text-decoration: none;
  }

  #best-sellers-{{ section.id }} .best-sellers__product-title {
    font-size: 20px;
    font-weight: 700;
    color: var(--bs-text-color);
    margin: 0 0 6px;
    transition: color 0.2s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__product-link:hover .best-sellers__product-title {
    color: var(--bs-accent-color);
  }

  #best-sellers-{{ section.id }} .best-sellers__product-desc {
    font-size: 15px;
    color: var(--bs-subtitle-color);
    margin: 0 0 20px;
    line-height: 1.5;
  }

  #best-sellers-{{ section.id }} .best-sellers__card-footer {
    margin-bottom: 20px;
    margin-top: auto;
  }

  #best-sellers-{{ section.id }} .best-sellers__price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  #best-sellers-{{ section.id }} .best-sellers__price-label {
    font-size: 13px;
    color: var(--bs-subtitle-color);
    font-weight: 500;
  }

  #best-sellers-{{ section.id }} .best-sellers__price {
    font-size: 24px;
    font-weight: 700;
    color: var(--bs-price-color);
    white-space: nowrap;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-now {
    width: 100%;
    padding: 16px 24px;
    background: var(--bs-accent-color);
    color: #FFFFFF;
    border: none;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-now:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 166, 169, 0.35);
    filter: brightness(1.1);
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-now svg {
    transition: transform 0.2s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-now:hover svg {
    transform: translateX(4px);
  }

  /* Shop All CTA */
  #best-sellers-{{ section.id }} .best-sellers__shop-all {
    text-align: center;
    padding-top: 16px;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-all-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 16px 32px;
    background: transparent;
    color: var(--bs-btn-bg);
    border: 2px solid var(--bs-btn-bg);
    border-radius: 999px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-all-btn:hover {
    background: var(--bs-btn-bg);
    color: var(--bs-btn-text);
    transform: translateY(-2px);
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-all-btn svg {
    transition: transform 0.2s ease;
  }

  #best-sellers-{{ section.id }} .best-sellers__shop-all-btn:hover svg {
    transform: translateX(4px);
  }

  /* Responsive */
  @media (max-width: 1100px) {
    #best-sellers-{{ section.id }} .best-sellers__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    #best-sellers-{{ section.id }} .best-sellers__header {
      margin-bottom: 32px;
    }

    #best-sellers-{{ section.id }} .best-sellers__tabs {
      width: 100%;
      max-width: 340px;
    }

    #best-sellers-{{ section.id }} .best-sellers__tab {
      flex: 1;
      padding: 12px 18px;
      font-size: 14px;
    }

    #best-sellers-{{ section.id }} .best-sellers__grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    #best-sellers-{{ section.id }} .best-sellers__card {
      border-radius: 20px;
    }

    #best-sellers-{{ section.id }} .best-sellers__card-image {
      padding: 16px;
    }

    #best-sellers-{{ section.id }} .best-sellers__card-content {
      padding: 16px;
    }

    #best-sellers-{{ section.id }} .best-sellers__product-title {
      font-size: 17px;
    }

    #best-sellers-{{ section.id }} .best-sellers__product-desc {
      font-size: 14px;
      margin-bottom: 16px;
    }

    #best-sellers-{{ section.id }} .best-sellers__price {
      font-size: 20px;
    }

    #best-sellers-{{ section.id }} .best-sellers__shop-now {
      padding: 14px 20px;
      font-size: 13px;
    }
  }

  @media (max-width: 480px) {
    #best-sellers-{{ section.id }} .best-sellers__grid {
      grid-template-columns: 1fr;
      max-width: 360px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  /* Alpine cloak */
  [x-cloak] {
    display: none !important;
  }
</style>

{% schema %}
{
  "name": "Best Sellers",
  "tag": "section",
  "class": "best-sellers-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top (Desktop)",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom (Desktop)",
      "min": 0,
      "max": 150,
      "step": 5,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Padding Top (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Best Sellers"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Our most-loved flavors, chosen by the Happie community."
    },
    {
      "type": "header",
      "content": "Collections"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1 (Tab 1)"
    },
    {
      "type": "text",
      "id": "collection_1_label",
      "label": "Tab 1 Label",
      "default": "THC Seltzers"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2 (Tab 2)",
      "info": "Leave empty to hide tabs"
    },
    {
      "type": "text",
      "id": "collection_2_label",
      "label": "Tab 2 Label",
      "default": "Fungi Fusion"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products to Show",
      "min": 2,
      "max": 8,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Shop All Button"
    },
    {
      "type": "checkbox",
      "id": "show_shop_all",
      "label": "Show Shop All Button",
      "default": true
    },
    {
      "type": "text",
      "id": "shop_all_text",
      "label": "Button Text",
      "default": "Shop All"
    },
    {
      "type": "url",
      "id": "shop_all_url",
      "label": "Button Link",
      "info": "Defaults to active collection URL if not set"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFBF5"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#1A1A1A"
    },
    {
      "type": "color",
      "id": "subtitle_color",
      "label": "Subtitle Color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "card_bg_color",
      "label": "Card Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Card Text Color",
      "default": "#1A1A1A"
    },
    {
      "type": "color",
      "id": "price_color",
      "label": "Price Color",
      "default": "#1A1A1A"
    },
    {
      "type": "header",
      "content": "Toggle Tabs"
    },
    {
      "type": "color",
      "id": "tab_active_bg",
      "label": "Active Tab Background",
      "default": "#00A6A9"
    },
    {
      "type": "color",
      "id": "tab_active_text",
      "label": "Active Tab Text",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "tab_inactive_bg",
      "label": "Inactive Tab Container",
      "default": "#E8E8E0"
    },
    {
      "type": "color",
      "id": "tab_inactive_text",
      "label": "Inactive Tab Text",
      "default": "#666666"
    },
    {
      "type": "header",
      "content": "Buttons"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent Color (Shop Now Button)",
      "default": "#00A6A9",
      "info": "Teal accent color for Shop Now buttons"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Shop All Button Background",
      "default": "#6B725C"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Shop All Button Text",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "badge_bg_color",
      "label": "Badge Background",
      "default": "#F7CD46"
    },
    {
      "type": "color",
      "id": "badge_text_color",
      "label": "Badge Text",
      "default": "#1A1A1A"
    },
    {
      "type": "header",
      "content": "Curve Dividers"
    },
    {
      "type": "range",
      "id": "curve_height",
      "label": "Curve Height",
      "min": 30,
      "max": 150,
      "step": 10,
      "default": 80,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "curve_animation_speed",
      "label": "Animation Speed",
      "min": 3,
      "max": 15,
      "step": 1,
      "default": 8,
      "unit": "s",
      "info": "Duration of one wave cycle (slower = more subtle)"
    },
    {
      "type": "header",
      "content": "Top Curve"
    },
    {
      "type": "checkbox",
      "id": "show_top_curve",
      "label": "Show Top Curve",
      "default": false
    },
    {
      "type": "select",
      "id": "top_curve_style",
      "label": "Top Curve Style",
      "options": [
        { "value": "wave", "label": "Wave" },
        { "value": "wave-smooth", "label": "Wave (Smooth)" },
        { "value": "arc", "label": "Arc" },
        { "value": "slope-left", "label": "Slope (Left to Right)" },
        { "value": "slope-right", "label": "Slope (Right to Left)" }
      ],
      "default": "wave"
    },
    {
      "type": "color",
      "id": "top_curve_color",
      "label": "Top Curve Color",
      "default": "#FFFFFF",
      "info": "Should match the section above"
    },
    {
      "type": "checkbox",
      "id": "top_curve_animate",
      "label": "Animate Top Curve",
      "default": true,
      "info": "Adds a flowing ripple wave animation"
    },
    {
      "type": "header",
      "content": "Bottom Curve"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_curve",
      "label": "Show Bottom Curve",
      "default": false
    },
    {
      "type": "select",
      "id": "bottom_curve_style",
      "label": "Bottom Curve Style",
      "options": [
        { "value": "wave", "label": "Wave" },
        { "value": "wave-smooth", "label": "Wave (Smooth)" },
        { "value": "arc", "label": "Arc" },
        { "value": "slope-left", "label": "Slope (Left to Right)" },
        { "value": "slope-right", "label": "Slope (Right to Left)" }
      ],
      "default": "wave"
    },
    {
      "type": "color",
      "id": "bottom_curve_color",
      "label": "Bottom Curve Color",
      "default": "#FFFFFF",
      "info": "Should match the section below"
    },
    {
      "type": "checkbox",
      "id": "bottom_curve_animate",
      "label": "Animate Bottom Curve",
      "default": true,
      "info": "Adds a flowing ripple wave animation"
    }
  ],
  "blocks": [
    {
      "type": "product_badge",
      "name": "Product Badge",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "badge_text",
          "label": "Badge Text",
          "default": "Best Seller"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "settings": {
        "title": "Best Sellers",
        "subtitle": "Our most-loved flavors, chosen by the Happie community.",
        "collection_1_label": "THC Seltzers",
        "collection_2_label": "Fungi Fusion",
        "show_shop_all": true,
        "shop_all_text": "Shop All"
      }
    }
  ],
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  }
}
{% endschema %}
